# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

#idea PHPStorm!
.idea
.phpintel

# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini
/app/config/twitter.yml
/app/config/twitter.conf.yml

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar
composer.lock
/nbproject/private/
bin
vendor
output
uploads
050515 - Testresultaten Orders v2.1.pdf
Birkenstock-koppeling-v3.3.pdf
eWarehousing - Portal v2 - Testplan - 01-04-2015 uitrol.pdf
response.json
Voorstel Jigoshop.pdf
web/uploads
src/Nav/GeoBundle
src/Nav/WooBundle