{% extends '@NavCMS/layout.html.twig' %}

{% form_theme form 'NavCMSBundle:Form:bootstrap_3_horizontal_layout.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h1>Contact</h1>
                        <p class="lead">Stay connected.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if app.session.flashBag.get('success') != null %}
                {{ dump(app.session.flashBag.all) }}
            {% endif %}


            {{ form(form) }}
        </div>
    </div>
{% endblock %}